body{
	background-image: url("images/background.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	background-color: #00205b; 
}

h1 {
  color: #CA7218;
  text-align: center;
}

/* Contenedor del puzzle*/
#contenedorPuzzle {
	margin: 20px auto;
	width: 550px;
	height: 600px;
}

/* Puzzle */
#contenedorPiezas{
	position:absolute; 
	width: 340px;
	height: 320px;
	right: 70%;
	top: 30%;
}

#contenedorPiezas2{
	position:absolute; 
	width: 960px;
	height: 180px;
	right: 2%;
	padding: 10px;
	top: 83%;
}

#contenedorPiezas3{;
	position:absolute; 
	width: 320px;
	height: 300px;
	left: 68%;
	top: 22%;
}

#puzzle {
	position:absolute; 
	margin: auto;
	z-index:3;
	opacity:0.9;
	width: 488px;
	height: 370px;
	top: 24%;
	background-image: url("images/backpuzzle.png");
	background-width: 436px;
	background-repeat: no-repeat;
}

#logo1 img {
	position:absolute; 
	float: left;
	margin-left: 90px;
	margin-top: 30px;
	width: 450px;
}


#logo2 img {
	position:absolute; 
	float: left;
	margin-left: 70%;
	margin-top: 40px;
	width: 300px;
}

#moon {
	position:absolute; 
	left: 0px;
	bottom: 280px;
}


#moon img {
	position:absolute; 
	float: bottom;
	width: 500px;
}

.contenedorPieza {
	width: 113.5px;
	height: 81.1px;
	float: left;
}

#contenedorPuzzle img {
	float: left;
	padding: 1px;
	width: 158px;
	height: 126px;
}
