body{
	background-image: url("images/background.jpg");
	background-size: cover; 
	background-repeat: no-repeat;
	background-color: #00205b; 
}
h1 {
  color: #CA7218;
  text-align: center;
}

/* Contenedor del puzzle*/
#contenedorPuzzle {
	margin: 20px auto;
	width: 550px;
	height: 600px;
}

/* Puzzle */
#contenedorPiezas{
	position:absolute; 
	width: 400px;
	height: 320px;
	left: 40px;
	top: 174px;
}

#contenedorPiezas2{
	position:absolute; 
	width: 1000px;
	height: 180px;
	left: 280px;
	top: 510px;
}

#contenedorPiezas3{
	position:absolute; 
	width: 360px;
	height: 300px;
	left: 918px;
	top: 120px;
}

#puzzle {
	position:absolute; 
	z-index:3;
	left:390px; 
	top:130px; 
	opacity:0.9;
	width: 488px;
	height: 370px;
	background-image: url("images/backpuzzle.png");
	background-width: 436px;
	background-repeat: no-repeat;
}

.contenedorPieza {
	width: 113.5px;
	height: 81.1px;
	float: left;
}

#contenedorPuzzle img {
	float: left;
	padding: 1px;
	width: 158px;
	height: 126px;
}
