
body {
  background-color:#074875;
  background-image: radial-gradient(#6adaf1, #126bba, #021f4b);
  background-repeat: no-repeat;
  margin:0px;
  height: 100vh;
  width: 100vw;
}

#logo {
  position: fixed; 
  width: 60vh;
  left: 50vw;
  margin-left: -30vh;
  top: 37vh;
}

#start {
  position: fixed; 
  width: 60vh;
  left: 50vw;
  margin-left: -30vh;
  top: 31vh;
  cursor: pointer;
  opacity: 0;
}

.homeoption {
  position: fixed; 
  top: 5vh;
  left: 50vw;
  height: 20vh;
  opacity: 0;
}

#home180 {
  margin-left: -55vh;
}

#homeopen {
  margin-left: 35vh;
  top: 1.5vh;
}

.optionview {
  position: fixed; 
  height: 14vh;
  left: 50vw;
  opacity: 0;
}

#optionview1 {
  margin-left: -38vh;
  top: 76vh;
}

#optionview2 {
  margin-left: -7vh;
  top: 70vh;
}

#optionview3 {
  margin-left: 24vh;
  top: 76vh;
}

#optionview4 {
  margin-left: -48vh;
  top: 23vh;
  height: 50vh;
}

#optionview5 {
  margin-left: -13vh;
  top: 17vh;
  height: 50vh;
}

#optionview6 {
  margin-left: 22vh;
  top: 23vh;
  height: 50vh;
}
.option {
  position: fixed; 
  bottom: 0px;
  opacity: 0;
}

.buttonzoom {
  position: fixed; 
  width: 20vh;
  left: 50vw;
  margin-left: -20vh;
  top: 70vh;
  opacity: 0;
}

.imagenzoom{
  height: 100vh;
}

.button{
  cursor: pointer;
}

#zoomspan {
  position: fixed; 
  left: 50vw;
  margin-left: -50vh;
}

#goback {
  position: fixed; 
  width: 20vh;
  margin-left: 10vw;
  top: 10vh;
  opacity: 0;
}

#backvideo {
  position: fixed;
  height: 100vh;
  left: 50vw;
  margin-left: -88.8vh;
  opacity: 0;
}

.menu {
  position: fixed; 
}

.menuitem {
  position: fixed; 
  width: 40vh;
  left: 50vw;
  margin-left: -50vh;
  opacity: 0;
}

#menu1 {
  margin-left: -60vh;
  top: 30vh;
}

#menu2 {
  margin-left: 20vh;
  top: 26vh;
}

#menu4 {
  margin-left: -20vh;
  top: 70vh;
}

#labelimage {
  width: 55vw;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modalzoom {
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  margin: auto;
  width: 55vw;
  margin-top: 10vh;
}

.modal-contentzoom {
  margin: auto;
}

.close {
  position: fixed;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
  margin: -1.8vh 0% 0% 53vw;
}

.closezoom {
  margin: 5vh 0 0 63vw;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block; 
  width:33px; 
  height:33px; 
  position:absolute; 
  top:0;
  right:0;
}

.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }

@media only screen and (max-width: 415px) {
  #backvideo {
    position: fixed;
    width: 100vw;
    left: 0;
    margin-left: 0;
  }

  .buttonzoom {
    left: 50vw;
    margin-left: -22vw;
    top: 48vh;
    width: 20vh;
  }

  .homeoption {
    top: 35vh;
    left: 50vw;
    height: 16vh;
  }

  #home180 {
    margin-left: -26vh;
  }

  #homeopen {
    margin-left: 10vh;
    top: 31vh;
  }

  .optionview {
    height: 16vw;
    left: 50vw;
    top: -50vh;
    margin-top: -12vh;
  }

  #optionview1 {
    margin-left: -26vw;
    top: 66vh;
  }

  #optionview2 {
    margin-left: -8vw;
    top: 64vh;
  }

  #optionview3 {
    margin-left: 10vw;
    top: 66vh;
  }

    #goback {
      width: 7vh;
      margin-left: 4.5vw;
      top: 34vh;
    }

    .menuitem {
      width: 34vw;
    }
    
    #menu1 {
      margin-left: -45vw;
      top: 42vh;
    }
    
    #menu2 {
      margin-left: 12vw;
      top: 37vh;
    }
    
    #menu4 {
      margin-left: -18vw;
      top: 54vh;
    }
    
    .option {
      bottom: 21.6vh;
    }

    .closezoom {
      margin: 2vh 0 0 49vw;
    }

    .closelabel {
      margin: -200vh 0 0 44vw;
    }

    .modal-content {
      margin: auto;
      width: 80vw;
      margin-top: 30vh;
    }

    #labelimage {
      width: 80vw;
    }

    #optionview4 {
      margin-left: -15vh;
      top: 52vh;
      height: 15vh;
    }

    #optionview5 {
      margin-left: -3.4vh;
      top: 50vh;
      height: 15vh;
    }

    #optionview6 {
      margin-left: 8vh;
      top: 52vh;
      height: 15vh;
    }


}
