
body {
  background-color:#074875;
  background-image: radial-gradient(#6adaf1, #126bba, #021f4b);
  background-repeat: no-repeat;
  margin:0px;
  height: 100vh;
  width: 100vw;
}

#logo {
  position: fixed; 
  width: 60vh;
  left: 50vw;
  margin-left: -30vh;
  top: 37vh;
}

#start {
  position: fixed; 
  width: 60vh;
  left: 50vw;
  margin-left: -30vh;
  top: 37vh;
  cursor: pointer;
  opacity: 0;
}

.homeoption {
  position: fixed; 
  top: 5vh;
  left: 50vw;
  height: 13vh;
  opacity: 0;
}

#home180 {
  margin-left: -17vh;
}

#homeopen {
  margin-left: 2vh;
  height: 17vh;
  top: 1vh;
}

.optionview {
  position: fixed; 
  height: 8.4vh;
  left: 50vw;
  opacity: 0;
}

#optionview1 {
  margin-left: -35.6vh;
  top: 76vh;
}

#optionview2 {
  margin-left: -4.2vh;
  top: 70vh;
}

#optionview3 {
  margin-left: 27.15vh;
  top: 76vh;
}

.option {
  position: fixed; 
  bottom: 0px;
  opacity: 0;
}

.buttonzoom {
  position: fixed; 
  width: 14vh;
  left: 50vw;
  margin-left: -20vh;
  top: 70vh;
  opacity: 0;
}

.imagenzoom{
  height: 100vh;
}

.button{
  cursor: pointer;
}

#zoomspan {
  position: fixed; 
  left: 50vw;
  margin-left: -50vh;
}

#goback {
  position: fixed; 
  width: 14vh;
  margin-left: 10vw;
  top: 10vh;
  opacity: 0;
}

#backvideo {
  position: fixed;
  height: 100vh;
  left: 50vw;
  margin-left: -88.8vh;
  opacity: 0;
}

.menu {
  position: fixed; 
}

.menuitem {
  position: fixed; 
  width: 20vh;
  left: 50vw;
  margin-left: -50vh;
  opacity: 0;
}

#menu1 {
  margin-left: -37vh;
  top: 30vh;
}

#menu2 {
  margin-left: 17vh;
  top: 30vh;
}

#menu4 {
  margin-left: -10vh;
  top: 84vh;
}

#labelimage {
  width: 55vw;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.modalzoom {
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  margin: auto;
  width: 55vw;
  margin-top: 10vh;
}

.modal-contentzoom {
  margin: auto;
}

.close {
  position: fixed;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
  margin: -1.8vh 0% 0% 53vw;
}

.closezoom {
  margin: 5vh 0 0 63vw;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block; 
  width:33px; 
  height:33px; 
  position:absolute; 
  top:0;
  right:0;
}

.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }

@media only screen and (max-width: 415px) {
  #backvideo {
    position: fixed;
    width: 100vw;
    left: 0;
    margin-left: 0;
  }

  .buttonzoom {
    left: 50vw;
    margin-left: -15vw;
    top: 55vh;
    width: 7vh;
  }

  .homeoption {
    top: 35vh;
    left: 50vw;
    height: 5vh;
  }

    #home180 {
      margin-left: -6.6vh;
    }

    #homeopen {
      margin-left: 1vh;
      height: 6vh;
      top: 34vh;
    }

    .optionview {
      height: 9vw;
      left: 50vw;
      top: -50vh;
      margin-top: -12vh;
    }

    #optionview1 {
      margin-left: -22vw;
      top: 70vh;
    }

    #optionview2 {
      margin-left: -4.5vw;
      top: 68vh;
    }

    #optionview3 {
      margin-left: 13vw;
      top: 70vh;
    }

    #goback {
      width: 7vh;
      margin-left: 6vw;
      top: 37vh;
    }

    .menuitem {
      width: 20vw;
    }
    
    #menu1 {
      margin-left: -29vw;
      top: 39vh;
    }
    
    #menu2 {
      margin-left: 8vw;
      top: 39vh;
    }
    
    #menu4 {
      margin-left: -10vw;
      top: 58vh;
    }
    
    .option {
      bottom: 21.4vh;
    }

    .closezoom {
      margin: 2vh 0 0 49vw;
    }

    .closelabel {
      margin: -200vh 0 0 44vw;
    }

    .modal-content {
      margin: auto;
      width: 80vw;
      margin-top: 30vh;
    }

    #labelimage {
      width: 80vw;
    }


}
