
body {
  background-color:#dddddd;
  color:#606062;
  margin:0px;
  font-family: 'Francois One', sans-serif;
  font-size:18px;
}

#logo {
  position: fixed; 
  width: 40vh;
  left: 50%;
  margin-left: -20vh;
  top: 36vh;
}

.homeoption {
  position: fixed; 
  top: 5vh;
  left: 50vw;
  height: 13vh;
  opacity: 0;
}

#home180 {
  margin-left: -17vh;
}

#homeopen {
  margin-left: 2vh;
}

.optionview {
  position: fixed; 
  height: 8.4vh;
  left: 50vw;
  opacity: 0;
}

#optionview1 {
  margin-left: -26.3vh;
  top: 68vh;
}

#optionview2 {
  margin-left: -3.99vh;
  top: 62vh;
}

#optionview3 {
  margin-left: 18.15vh;
  top: 68vh;
}

.option {
  position: fixed; 
  bottom: 0px;
  opacity: 0;
}

.buttonzoom {
  position: fixed; 
  width: 14vh;
  left: 50%;
  margin-left: -20vh;
  top: 70vh;
  opacity: 0;
}

.imagenzoom{
  width: 64vh;
}

.button{
  cursor: pointer;
}

#zoomspan {
  position: fixed; 
  width: 70vh;
  left: 50%;
  margin-left: -32.3vh;
  top: 4vh;
}

#goback {
  position: fixed; 
  width: 14vh;
  margin-left: 10vw;
  top: 10vh;
  opacity: 0;
}

#backvideo {
  position: fixed;
  height: 100%;
  left: 50%;
  margin-left: -88.8vh;
  opacity: 0;
}

.menu {
  position: fixed; 
}

.menuitem {
  position: fixed; 
  width: 20vh;
  left: 50%;
  margin-left: -50vh;
  opacity: 0;
}

#menu1 {
  margin-left: -37vh;
  top: 30vh;
}

#menu2 {
  margin-left: -43vh;
  top: 50vh;
}

#menu3 {
  margin-left: 22vh;
  top: 36vh;
}

#menu4 {
  margin-left: -10vh;
  top: 84vh;
}


#labelimage {
  width: 55vw;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1;
  padding-top: 10vh; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.06);
}

.modalzoom {
  background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  margin: auto;
  width: 55vw;
}

.modal-contentzoom {
  margin: auto;
  width: 70vw;
}

.close {
  position: fixed;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
  margin: -3.5vh 0% 0% 53vw;
}
.closezoom {
  margin: -13vh 0% 0% 53vw;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block; 
  width:33px; 
  height:33px; 
  position:absolute; 
  top:0;
  right:0;
}

.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }

@media only screen and (max-width: 415px) {
  #backvideo {
    position: fixed;
    width: 100%;
    left: 0;
    margin-left: 0;
  }

  .buttonzoom {
    left: 50vw;
    margin-left: -15vw;
    top: 54vh;
    width: 7vh;
  }

  .homeoption {
    top: 36vh;
    left: 50vw;
    height: 5vh;
  }

    #home180 {
      margin-left: -6.6vh;
    }

    #homeopen {
      margin-left: 0vh;
    }

    .optionview {
      height: 9vw;
      left: 50vw;
      top: -50vh;
      margin-top: -12vh;
    }

    #optionview1 {
      margin-left: -17.2vw;
      top: 66vh;
    }

    #optionview2 {
      margin-left: -4.5vw;
      top: 64vh;
    }

    #optionview3 {
      margin-left: 8.1vw;
      top: 66vh;
    }

    #goback {
      width: 8vh;
      margin-left: 10vw;
      top: 37vh;
    }

    .menuitem {
      width: 20vw;
    }
    
    #menu1 {
      margin-left: -29vw;
      top: 40vh;
    }
    
    #menu2 {
      margin-left: -31vw;
      top: 50vh;
    }
    
    #menu3 {
      margin-left: 12vw;
      top: 42vh;
    }
    
    #menu4 {
      margin-left: -10vw;
      top: 58vh;
    }
    
    .option {
      bottom: 36vh;
    }
}
