
body {
  background-color:#dddddd;
  color:#989898;
  margin:0px;
  font-family: 'Francois One', sans-serif;
  font-size:18px;
}

#logo {
  position: fixed; 
  width: 40vh;
  left: 50%;
  margin-left: -20vh;
  top: 36vh;
}

.homeoption {
  position: fixed; 
  top: -20vh;
  height: 5vw;
  left: 50vw;
}

#home360 {
  margin-left: -7.7vw;
}

#homeopen {
  margin-left: 1vw;
}

.optionview {
  position: fixed; 
  height: 6vw;
  left: 50vw;
  top: -50vh;
}

#optionview1 {
  margin-left: -18vw;
}

#optionview2 {
  margin-left: -3vw;
}

#optionview3 {
  margin-left: 12vw;
}

.option {
  position: fixed; 
  bottom: 0px;
  width: 0%;
}

.buttonzoom {
  position: fixed; 
  width: 5vh;
  left: 50%;
  margin-left: -20vh;
  top: 110vh;
}

.imagenzoom{
  width: 64vh;
}

.button{
  cursor: pointer;
}

#zoomspan {
  position: fixed; 
  width: 70vh;
  left: 50%;
  margin-left: -32.3vh;
  top: 4vh;
}

#goback {
  position: fixed; 
  width: 10vh;
  left: 50%;
  margin-left: -80vh;
  top: 110vh;
}

#backvideo {
  position: fixed;
  height: 100%;
  left: 50%;
  margin-left: -88.8vh;
  opacity: 0;
}

.menu {
  width: 100%;
  position: fixed; 
  margin: -10% 0% 0% 30%;
  font-size:100%;
  display: flex;
  align-items: flex-start;
}

.menuitem {
  margin: 0% 0% 0% 7%;
}

a {
  text-decoration: none;
}

a:link {
  color: #606062;
}

a:visited {
  color: #606062;
}

a:hover {
  color: #454545;
}

a:active {
  color: #353535;
}

#labelimage {
  width: 55vw;
  /*margin-left: -88.8vh;*/
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 10vh; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.06); /* Black w/ opacity */
}


.modalzoom {
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  margin: auto;
  width: 55vw;
}

.modal-contentzoom {
  margin: auto;
  width: 70vw;
}

/* The Close Button */
.close {
  position: fixed;
  color: #333333;
  font-size: 40px;
  font-weight: bold;
  margin: -3.5vh 0% 0% 53vw;
}
.closezoom {
  margin: -13vh 0% 0% 53vw;
}


.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

p { position:absolute; top:3px; right:28px; color:#555; font:bold 13px/1 sans-serif;}

/* these styles are for the demo, but are not required for the plugin */
.zoom {
  display:inline-block;
  position: relative;
}

/* magnifying glass icon */
.zoom:after {
  content:'';
  display:block; 
  width:33px; 
  height:33px; 
  position:absolute; 
  top:0;
  right:0;
}

.zoom img {
  display: block;
}

.zoom img::selection { background-color: transparent; }
/*
@media screen and (max-width: 900px) {
  .menu {
    position: fixed; 
    margin: 2% 0% 0% 240%;
    font-size:100%;
  }

  .menuitem {
    margin: 0% 0% 0% 5%;
  }
}

@media screen and (max-width: 600px) {
  .menu {
    position: fixed; 
    margin: 2% 0% 0% 800%;
    font-size:100%;
  }

  .menuitem {
    margin: 0% 0% 0% 4%;
  }
}*/